

<table>
  <thead>
    <tr>
      <td>Producto</td>
      <td>Precio</td>
      <td>Thumbnail</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <h5>{{title}}</h5>
      </td>
      <td>
        <h5>$ {{price}}</h5>
      </td>
      <td>
        <img src={{thumbnail}} alt="product" className="table-image" />
      </td>
    </tr>
  </tbody>
</table>