div(class="main__form")
    h1 Cargar producto
    form(action="/productos", method="post")
        div(class="txt_field")
            input(type="text" name="title" autofocus required)
            span
            label Producto
        div(class="txt_field")
            input(type="text" name="title" required)
            span
            label Precio    
        div(class="txt_field")
            input(type="text" name="title" required)
            span
            label URL Imagen
        input(type="submit" value="Cargar producto")
        div(class="view__product")
            span ¿Ver Producto? 
            a(href="http://localhost:8080/productos") Click Aquí

