{{>navbar}}

<section class="form__section">
  <h1 class="form__title">FORMULARIO DE CARGA</h1>
<div class="main__form">
  <h1>Cargar producto</h1>
  <form action="/productos" method="POST">
    <div class="txt_field">
      <input type="text" name="title" autofocus required />
      <span></span>
      <label>Producto</label>
    </div>
    <div class="txt_field">
      <input type="number" name="price" required />
      <span></span>
      <label>Precio</label>
    </div>
    <div class="txt_field">
      <input type="text" name="thumbnail" required />
      <span></span>
      <label>URL Imagen</label>
    </div>
    <input type="submit" value="Cargar producto" />
    <div class="view__product">
      ¿Ver productos? <a href="/productos">Click Aquí</a>
    </div>
  </form>
</div>
</section>

{{>chat}}
{{>footer}}