<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <title>EJS Example</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <%- include("form") %>
    <%- include("products") %>
  </body>
</html>
