<form action="/api/productos" method="POST">
    Producto: <input type="text" name="title" /> Precio:
    <input type="number" name="price" /> Imagen URL:
    <input type="text" name="thumbnail" />
    <input type="submit" value="Cargar producto" />
  </form>