<section id="chat-container" style="width: 100%">
      <div id="chat-window">
        <div id="output"></div>
        <div id="actions"></div>
      </div>
      <input
        type="email"
        id="username"
        placeholder="nombre de usuario"
        autofocus
        required
      />
      <input type="text" id="chatMessage" placeholder="mensaje" />
      <button id="send" class="btn-chat" type="submit">Enviar</button>
    </section>