<%- include("head.ejs") %>

<navbar>
  <h2 class="logo">Salt<span>A</span>r</h2>
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Galería</a></li>
    <li><a href="#">Hospedaje</a></li>
    <li><a href="#">Restaurantes</a></li>
    <li><a href="#">Tours</a></li>
  </ul>
</navbar>
