<nav>
  <h2 class="logo">Programación <span>backend</span></h2>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/productos">PRODUCTOS</a></li>
    <li><a href="#">CARRITO</a></li>
  </ul>
  <a href="/">
    <button type="button" class="btn-charge">Cargar producto</button>
  </a>
</nav>