// PRODUCTS

.product__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
  }

  section h2 {
    text-align: center;
    font-size: 60px;
  }

  .box {
    flex: 1 1 300px;
    background-color: orangered;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    margin: 20px;
    .image {
      padding: 10px;
      background-color: lightgray;
      text-align: center;
      img {
        height: 200px;
        width: 250px;
        object-fit: cover;
        filter: drop-shadow(0 3px 5px black);
      }
    }
    .info {
      .title {
        padding: 10px;
        color: white;
        font-size: 30px;
      }
      .sub__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px;
        border-top: 1px solid silver;
        .price {
          color: black;
          font-size: 20px;
        }
      }
    }
  }

// #products-output{
//   overflow-x: auto;
//   max-width: 1000px;
//   margin: 40px auto;
//   height: 200px;
//   h2{
//     text-align: center;
//   }
// }


// table {
//   border-collapse: collapse;
//   width: 100%;
//   table-layout: fixed;
//   white-space: nowrap;
// }

// table thead {
//   font-weight: 700;
//   td {
//     background-color: green;
//     color: black;
//     border: none;
//     padding: 6px 0;
//   }
// }
// table td {
//   border-bottom: 2px solid silver;
//   padding: 10px;
//   text-align: center;
//   &:nth-child(1) {
//     width: 100px;
//   }
//   &:nth-child(2),
//   &:nth-child(3) {
//     width: 200px;
//   }
//   &:nth-child(4),
//   &:nth-child(5),
//   &:nth-child(6) {
//     width: 170px;
//   }
// }
// table tbody img {
//   width: 120px;
//   height: 120px;
//   object-fit: cover;
// }
